<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ezblock.openscope.openscoped</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/OpenScope.app/Contents/Resources/bin/openscoped</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/com.ezblock.openscope.openscoped.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/com.ezblock.openscope.openscoped.stderr.log</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>TMPDIR</key>
		<string>/private/tmp</string>
	</dict>
</dict>
</plist>
